<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 ">
    <div class="block panel panel-default"> <!--為設定背景顏色建立的div-->
      <div class="panel-heading text-center">
        <h3 class="heading">Change Password</h3>
      </div>

      <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

<!-- 增加 name 輸入框之後，需要讓 name 屬性通過 Strong Parameter 驗證，-->
   <!-- set not able to change name and email
        <div class="field form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true %>
        </div>


        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
        </div>
     -->

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off",class:"form-control" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>


        <div class="field form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off",class:"form-control" %>
        </div>

        <div class="actions form-group">
          <%= f.submit "Update Password",class:"btn btn-primary form-control" %>
        </div>
        <div class="actions form-group">
          <%= link_to "Cancel Change",tweets_path, class:"btn btn-default form-control"%>
        </div>
      <% end %>


      </div>
 </div>
</div>
