  <div class="row">
     <div class="col-xs-6">
         <!--submitted_tweet_form-->
          <div class="form_table clearfix">
            <%= form_for @tweet do |f| %>
                  <div class="form-group ">
                    <%=f.text_area :description, placeholder:"What's on your mind", class:"form-control text-area", id:"tweet_description" %>
                  </div>
                  <div class="submit_button ">
                  <%=f.submit "Tweet" ,class:"btn btn-primary" %>
                  </div>
            <% end %>
          </div>

          <%@tweets.each do |tweet| %>   <!--ref rails實戰聖經表單輔助方法 https://ihower.tw/rails/actionview-helpers.html-->
            <div class="tweet_item clearfix">
                 <!--user picture-->
                 <div class="col-xs-3">
                    <div class= "user_picture">
                      <% for img_id in 1..20 %>
                          <% if image_path(tweet.user.avatar).include? ('/'+ 'user' +img_id.to_s+'.jpg') %>
                              <%= image_tag('/avatar/'+ 'user' + img_id.to_s+'.jpg', class: "img-responsive center-block img-rounded img") %>
                          <% end %>
                      <% end %>
                         <!--下方程式碼被上方取代,  image_tag 表單輔助方法
                          <%= image_tag tweet.user.avatar %>
                          -->
                    </div>
                 </div>
                 <!--user details-->
                 <div class="col-xs-8 col-xs-offset-1">
                   <%= link_to tweet.user.name,tweets_user_path(tweet.user.id)%>, <%=tweet.user.created_at.to_date%><br>
                   <%= truncate(tweet.description, length: 150)%> <br>  <!--truncate 表單輔助方法-->
                   <div class="button">
                     <%= render partial: "shared/reply_and_like_button", locals: {tweet: tweet}%>
                   </div>
                 </div>
            </div>
          <%end%>
      </div>

      <div class="col-xs-6">
          <h2>Popular</h2>
          <%@users.each do |user| %>
            <div class="tweet_item clearfix">
                 <!--user picture-->
                 <div class="col-xs-3">
                    <div class= "user_picture">
                      <% for img_id in 1..20 %>
                          <% if image_path(user.avatar).include? ('/'+ 'user' +img_id.to_s+'.jpg') %>
                              <%= image_tag('/avatar/'+ 'user' + img_id.to_s+'.jpg', class: "img-responsive center-block img-rounded img") %>
                          <% end %>
                      <% end %>
                      <!--下方程式碼被上方取代,  image_tag 表單輔助方法
                         <%= image_tag user.avatar %>
                      -->
                    </div>
                 </div>
                 <!--user details-->
                 <div class="col-xs-8 col-xs-offset-1">
                   <%= link_to user.name,tweets_user_path(user) %><br>
                   <%= truncate(user.introduction, length: 100)%> <br>  <!--truncate 表單輔助方法-->
                   <div class="button">
                     <%if user != current_user %>
                        <%if current_user.following?(user)%>
                         <%= link_to "Unfollow",followship_path(user),method: :delete, class: "btn btn-info" %> <!--觸發 followships controller-destroy action-->
                        <%else%>
                        <!--/followships(:format)後面是沒有帶:id參數的,但我們需要一個參數進來,所以必須在_path(following_id:xxx)裡面手動丟入參數-->
                         <%= link_to "Follow",followships_path(following_id: user),method: :post, class: "btn btn-info" %> <!--觸發 followships controller-create action-->
                        <%end%>
                     <% end %>
                   </div>
                  </div>
            </div>
          <%end%>
      </div>


  </div><!--row-->
