<h1>tweets前台</h1>
<div class="container">
  <div class="row">
       <div class="col-xs-7">
          <%@tweets.each do |tweet| %>   <!--ref rails實戰聖經表單輔助方法 https://ihower.tw/rails/actionview-helpers.html-->
                 <div class="col-xs-3">
                   <%= image_tag tweet.user.avatar %> <!--image_tag 表單輔助方法-->
                 </div>
                 <div class="col-xs-9">
                   <%= tweet.user.name%>, <%=tweet.user.created_at.to_date%><br><!--to_date單輔助方法-->
                   <%= truncate(tweet.description, length: 50)%>   <!--truncate 表單輔助方法-->
                   <%=link_to "Relply",tweet_replies_path(tweet)%>
                 </div>
             <div class="clearfix"></div>
           <%end%>
        </div>
     </div>
  </div>
  <div class="row">
        <div class="col-xs-5">
          <h2>Popular</h2>
        </div>
  </div>
</div>
