<div class="container">
  <div class="row">

      <div class="col-xs-3"> <!--grid 3,1,8-->
        <%= render partial: "shared/user_intro"%>
      </div>

      <div class="col-xs-offset-1 col-xs-8">
        <h1>Like</h1>
        <%@likes.each do |like| %>
          <div class="col-xs-12 following_item ">
             <div class="col-xs-3">
                 <div class= "item_picture">
                   <%= image_tag like.user.avatar %>
                 </div>
             </div>
             <div class="col-xs-9">
                   <%= like.user.name %><br>
                   <%= truncate(like.user.introduction , length:150) %>  <!--like 是一張joint table -->
                   <div class="button">   <!--like 資料表下有user_id,tweet_id-->
                           <%= link_to tweet_replies_path(like.tweet) do %>
                              Reply(<%=like.tweet.replies_count%>)
                           <% end %>
                           <% if  like.tweet.is_liked?(current_user) %>
                              <%= link_to like_tweet_path(like.tweet), method: :post do%>
                                   Like(<%=like.tweet.likes_count%>)
                              <% end %>
                           <% else %>
                              <%= link_to unlike_tweet_path(like.tweet), method: :post do%>
                                   Unlike
                              <% end %>
                           <% end %>
                   </div>
             </div>
          </div>
        <%end%>
      </div>
  </div> <!--container-->
</div> <!--row-->
