  <div class="row user-page">
      <div class="col-xs-3">
         <div class="user_details">
             <%= render partial: "shared/user_intro"%>
         </div>

        <div class="button">
            <% if current_user == @user %>
              <%= link_to "Edit Profile",edit_user_path(@user), class: "btn btn-primary"%>
            <% else %>
               <% if current_user.following?(@user) %> <!--refer to user model: following method -->
                 <%= link_to "Unfollow", followship_path(@user), method: :delete, class: "btn btn-primary"%> <!--trigger followships destroy controller-->
               <% else %>
                 <%= link_to "Follow",followships_path(following_id: @user), method: :post, class: "btn btn-primary"%> <!--trigger followships create controller-->
               <% end %>
            <% end %>
        </div>
      </div>

      <div class="col-xs-offset-1 col-xs-7">
            <h1>Tweet</h1>
            <% @usered_tweets.each do |usered_tweet| %>
             <!--tweet user頭貼-->
                <div class= "tweet_item col-xs-12">
                    <div class= "col-xs-3">
                        <div class= "user_picture">
                          <% for img_id in 1..20 %>
                              <% if image_path(usered_tweet.user.avatar).include? ('/'+ 'user' +img_id.to_s+'.jpg') %>
                                  <%= image_tag('/avatar/'+ 'user' + img_id.to_s+'.jpg', class: "img-responsive center-block img-rounded img") %>
                              <% end %>
                          <% end %>
                          <!--下方程式碼由上方取代
                               <%=image_tag (usered_tweet.user.avatar)%>
                           -->
                        </div>
                    </div>
             <!--tweet user 內容-->
                    <div class="col-xs-offset-1 col-xs-7">
                        <div class= "user_tweet_details">
                             <p><%=usered_tweet.user.name %>
                             <span><%=usered_tweet.created_at.to_date %></span></p>
                             <p><%= usered_tweet.description%></p>
                        </div>
                        <div class="button">   <!--like 資料表下有user_id,tweet_id-->
                          <!--使用locals來傳入區域便-->
                          <!-- @usered_tweets = @user.tweets.order(created_at: :desc)-->
                          <%= render partial: "shared/reply_and_like_button",locals: {tweet: usered_tweet}%>
                        </div>
                    </div>
                </div>
            <% end %>
           </div>
        </div>

</div><!--row-->
