<div class="container">
  <div class="row">
      <div class="col-xs-3">
         <%= render partial: "shared/user_intro"%>    
          <div class="button">
            <% if current_user == @user %>
              <%= link_to "Edit Profile",edit_user_path(@user), class: "btn btn-primary"%>
            <% else %>
               <% if current_user.following?(@user) %> <!--refer to user model: following method -->
                 <%= link_to "Unfollow", followship_path(@user), method: :delete, class: "btn btn-primary"%> <!--trigger followships destroy controller-->
               <% else %>
                 <%= link_to "Follow",followships_path(following_id: @user), method: :post, class: "btn btn-primary"%> <!--trigger followships create controller-->
               <% end %>
            <% end %>
          </div>
      </div>

      <div class="col-xs-8 col-xs-offset-1"> <!--grid 3,1,8-->
            <% @usered_tweets.each do |usered_tweet| %>
             <!--tweet user頭貼-->
               <div class= "tweet_item col-xs-12">
                    <div class= "col-xs-3">
                        <div class= "user_picture">
                               <%=image_tag (usered_tweet.user.avatar)%>
                        </div>
                    </div>
             <!--tweet user 內容-->
                    <div class="col-xs-offset-1 col-xs-7">
                        <div class= "user_tweet_details">
                             <p><%=usered_tweet.user.name %>
                             <span><%=usered_tweet.created_at.to_date %></span>
                             <p><%= usered_tweet.description%></p>
                        </div>
                    </div>
                </div>
            <% end %>
           </div>
        </div>

  </div> <!--container-->
</div><!--row-->
