<div class="user_details">
   <!--tweet照片-->
    <div class="user_picture">
      <%= image_tag (@user.avatar)%>
    </div>
    <p class="name"><%=@user.name%></p>
    <p><%=@user.introduction%></p>
</div>
<div class= "count">
      <%= link_to tweets_user_path(@user) do %>
              Tweets <%=@tweets.count%> <!--顯示文字內容-->
      <% end %><br>

      <%= link_to followings_user_path(@user) do %>
              Followings <%=@followings.count%><!--顯示文字內容-->
      <% end %><br>

      <%= link_to followers_user_path(@user) do %>
              Followers <%=@followers.count%> <!--顯示文字內容-->
      <% end %><br>

      <%= link_to likes_user_path(@user) do %>
              Likes <%=@likes.count%> <!--顯示文字內容-->
      <% end %><br>
</div>
