<div class="user_details">
   <!--tweet照片-->
    <div class="each_user_picture">
        <% for img_id in 1..20 %>
          <% if image_path(@user.avatar).include? ('/'+'user'+ img_id.to_s+'.jpg') %>
              <%= image_tag('/avatar/'+ 'user'+ img_id.to_s+'.jpg', class: "img-responsive center-block img-rounded img") %>
          <% end %>
        <% end %>
        <!--下方程式碼被上方取代,  image_tag 表單輔助方法
        <%= image_tag (@user.avatar)%>-->
    </div>
    <div>
    <p class="name"><%=@user.name%></p>
    <p><%=@user.introduction%></p>
    </div>
</div>
<div class= "count">
      <%= link_to tweets_user_path(@user) do %>
              Tweets <%=@user.tweets.count%> <!--顯示文字內容-->
      <% end %><br>

      <%= link_to followings_user_path(@user) do %>
              Followings <%=@user.followings.count%><!--顯示文字內容-->
      <% end %><br>

      <%= link_to followers_user_path(@user) do %>
              Followers <%=@user.followers.count%> <!--顯示文字內容-->
      <% end %><br>

      <%= link_to likes_user_path(@user) do %>
              Likes <%=@user.likes.count%> <!--顯示文字內容-->
      <% end %><br>
</div>
